{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Secure Download</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/download.css' %}">
</head>
<body>

<h2>Secure File Download</h2>

<p>Click below to decrypt and download the file.</p>

<button onclick="startDownload()">Download & Decrypt</button>

<script>
  const FILE_ID = "{{ file_id }}";
</script>
<script src="{% static 'js/decrypt.js' %}"></script>

</body>
</html>
